{% extends "layout.html" %}

{% block title %}
    Manage Funds
{% endblock %}

{% block main %}

    <div class="formcontainer">
        <form action="/funds" method="post">
            <select name="t_type" id="t_type" required>
                <option value="" disabled selected>Select Action</option>
                <option value="Deposit">Cash Deposit</option>
                <option value="Withdrawal">Cash Withdrawal</option>
              </select>
            <input type="number" step="0.01" autocomplete="off" id="amount" name="amount" placeholder="Input $ Value" required>
            &nbsp;
            <button type="submit">Confirm</button>
        </form>
    </div>


    <br/>

    <h5 style="text-align: left;">&nbsp;Cash available: {{ cash | usd }}</h5>




{% endblock %}